 @import url("reset.css"); 
.list{
color: green;
}
.text{
    color: blue;
}
.list + ul{
    color: aqua;
}
#HELLO .text{
    color:aquamarine;
}
.container > p{
color: yellow;
}
.container .title
{
    color: orange;
}
header .title
{
    color: red;
}
body
{
    background-color: #000;
}
.text.start
{
    color: yellow;
}
[class*="__white"]
{
    color: white;
}